/*
 * After modifying this style sheet, refresh the page being designed to see the effect of the modification.
 * Click the Refresh button in the Visual Designer toolbar to refresh the page.
 */ 

/* Style rules to make Java Server faces Standarad data tables look better */

.list-header {
  background-color: #eeeeee;
  font-size: larger;
  font-weight: bold;
}

.list-paging-header {
  background-color: white;
}

.list-paging-footer {
  background-color: white;
}

.list-row-even { 
}

.list-row-odd { 
  background-color: #eeeeee;
}

/* Style rules for message severity levels */

.infoMessage {
  color: black;
}

.warnMessage {
  color: orange;
  font-weight: bold;
}

.errorMessage {
  color: red;
  font-weight: bold;
}

.fatalMessage {
  color: red;
  font-style: italic;
  font-weight: bold;
}

/* STOP LE DIABLE MEC, ICI C'est LE VRAI CSS */

/* global */

img {
  border: none;
}

a {
  color: #3872bf;
}

a:hover {
  text-decoration: underline;
}

html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

body {
  font: small/150% Arial, Helvetica, Verdana, sans-serif;
  background: url(hubert_cumberdale-background.png) bottom right no-repeat #9cdfe2;
}

h1, h2, h3, h4, h5, h6 {
  font-family: Arial, Verdana, sans-serif;
}

hr, div.clr, div.stopfloat {
  clear: both;
  visibility: hidden;
}

/* header */

div#header {
  background: url(header_bg.png) repeat-x bottom left white;
  height: 80px;
}

div#header img {
    padding-right:8px;
    padding-top:2px;
    float:right;
}

div#header p.headerbubble {
    margin-right:2px;
    margin-top: 8px;
    float:right;
    -moz-border-radius:32px;
    border: 1px solid #999;
    padding: 4px 7px;
}

div#header p.headerbubble.headerbubble1 {
    margin-top: 24px;
    float:right;
    -moz-border-radius:10px;
    border: 1px solid #999;
    padding: 4px;
}

div#header p.headerbubble.headerbubble2 {
    margin-top: 32px;
    float:right;
    -moz-border-radius:10px;
    border: 1px solid #999;
    padding: 1px;
}

div#header h1 {
    margin: 0;
    padding: 20px;
    font-weight: normal;
    font-family: Arial;
    font-size: 12px;
    float: left;
}

div#header h1 span {
    font-weight: bold;
    font-size: 25px;
}

p#menu {
    margin: 0;
    float: left;
    line-height: 65px;
    height: 65px;
}

p#menu a {
    display: block;
    float: left;
    margin: 0 10px;
    font-weight: bold;
}

/* footer */

div#footer {
  clear: both;
}

div#footer, div#footer a {
  color: #111;
}

div#footer p {
  padding: 1em;
  font-size: 1em;
  text-align: center;
}

div#footer p span {
  font-size: 0.8em;
  color: #333;
}

/* box */

div.roundbox {
  background: #fbfefe;
  -moz-border-radius: 10px;
  padding: 10px;
  border-top: 1px solid #74b4c0;
  border-right: 2px solid #74b4c0;
  border-bottom: 3px solid #74b4c0;
  border-left: 1px solid #74b4c0;
}

div.roundbox#page_content {
    margin: 20px 150px 10px 25px;
}
