/*
 * After modifying this style sheet, refresh the page being designed to see the effect of the modification.
 * Click the Refresh button in the Visual Designer toolbar to refresh the page.
 */ 

/* Style rules to make Java Server faces Standarad data tables look better */

.list-header {
  background-color: #eeeeee;
  font-size: larger;
  font-weight: bold;
}

.list-paging-header {
  background-color: white;
}

.list-paging-footer {
  background-color: white;
}

.list-row-even { 
}

.list-row-odd { 
  background-color: #eeeeee;
}

/* Style rules for message severity levels */

.infoMessage {
  color: black;
}

.warnMessage {
  color: orange;
  font-weight: bold;
}

.errorMessage {
  color: red;
  font-weight: bold;
}

.fatalMessage {
  color: red;
  font-style: italic;
  font-weight: bold;
}

/* STOP LE DIABLE MEC, ICI C'est LE VRAI CSS */

/* global */

img {
  border: none;
}

a {
  color: #3872bf;
}

a:hover {
  text-decoration: underline;
}

html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

body {
  font: small/150% Arial, Helvetica, Verdana, sans-serif;
  background-color: #9cdfe2;
}

h1, h2, h3, h4, h5, h6 {
  font-family: Arial, Verdana, sans-serif;
}

hr, div.clr {
  clear: both;
  visibility: hidden;
}

/* header */

div#header {
  background: url(header_bg.png) repeat-x bottom left white;
  height: 80px;
}

div#header h1 {
    margin: 0;
    padding: 20px;
    font-weight: normal;
    font-family: Arial;
    font-size: 24px;
}